@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Ubuntu:300&display=swap");
.base {
  width: 1000px;
  margin: 0 auto;
}
nav main {
  display: inline-block;
}
nav {
  width: 1000px;
  border: 0px;
  margin: 0px auto;
  height: 30px;
  padding: 38px 0px;
  vertical-align: middle;
}
.navigation {
  width: 1000px;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
  font-size: 14px;
  display: inline-block;
  font-family: "Playfair Display", serif;
}
.navigation li {
  vertical-align: middle;
  display: inline-block;
}
.navigation li:not(:last-child) {
  margin-right: 110px;
}
.navigation a:hover,
.navigation a:focus {
  color: #3399cc;
}
a {
  text-decoration: none;
  color: rgb(98, 98, 98);
  text-transform: uppercase;
}
.information {
  width: 1000px;
  border: 0px;
  padding: 0%;
  display: inline-block;
}
h2 {
  font-size: 30px;
  color: rgb(98, 98, 98);
  font-family: "Playfair Display", serif;
}
p {
  font-size: 14px;
  color: rgb(98, 98, 98);
  font-family: "Playfair Display", serif;
}
.ubuntu {
  font-size: 14px;
  color: rgb(180, 173, 158);
  font-family: "Ubuntu", sans-serif;
}
.left {
  border: 0px;
  width: calc(50% - 50px);
  margin-right: 3%;
  margin-bottom: 20px;
  padding: 0 16px;
  display: inline-block;
}
.right {
  border: 0px;
  width: calc(50% - 50px);
  margin-right: 0%;
  margin-bottom: 20px;
  padding: 0 16px;
  display: inline-block;
}
.button {
  text-align: center;
}
button {
  padding: 10px 30px;
  margin: 0 auto;
  font-size: 20px;
  font-family: "PlayfairDisplay";
  color: rgb(98, 98, 98);
}
